@white: #FFF;
@pale_blue: #e4faff;
@blue: #2e6196;
@cyan: #0099d9;
@orange: #f0a03e;
@magenta: #e4008c;

@vag_round_black:'VAG Rounded LT W01 Black',Arial,Helvetica,sans-serif;
@vag_round_bold:'VAG Rounded LT W01 Bold',Arial,Helvetica,sans-serif;

.clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

html,body {
	height: 100%;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
body {
	background: @white;
	margin: 0;
	padding: 0;
}
#wrapper {
	min-height: 100%;
	margin-bottom: -350px;
	position: relative;
}
a {
	text-decoration: none;
	img {
		border: none;
	}
}
.blue {
	color: @blue;
}
.cyan {
	color: @cyan;
}
.orange {
	color: @orange;
}
header {
	background: @pale_blue;
	padding: 10px;
}
#logo {
	margin: 0 auto;
	display: block;
	width: 175px;
}
main {
	text-align: center;
	p {
		font-family: @vag_round_bold;
		font-size: 18px;
		strong {
			font-family: @vag_round_black;
			font-weight: normal;
		}
	}
}
.button {
	background: @magenta;
	border: 1px solid @magenta;
	border-radius: 6px;
	padding: 10px 20px;
	color: @white;
	display: inline-block;
	margin: 16px auto;
	transition: 0.5s;
}
.button:hover {
	background: @white;
	color: @magenta;
}
.container {
	width: 95%;
	max-width: 770px;
	margin: 0 auto;
	position: relative;
}
#coming-soon {
	position: absolute;
    top: -84px;
    right: 0;
    width: 128px;
}
footer {
	#kids {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}
}
#social {
	position: absolute;
	bottom: 20px;
	left: 50%;
	padding-left: 280px;
	p {
		font-family: @vag_round_bold;
		color: @cyan;
		font-size: 16px;
		line-height: 32px;
		margin: 0;
		img {
			width: 32px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

footer,
.push {
  height: 270px;
}
@media screen and (max-width: 760px)
{
	#wrapper {
		margin-bottom: 0;
		min-height: 0;
	}
	footer,
	.push {
	  height: auto;
	}
	main {
		p.orange {
			br {
				display: none;
			}
		}
	}
	#coming-soon {
		position: static;
	    display: block;
	    margin: 0 auto;	
	}

	#social {
		position: static;
		padding: 0;
		p {
			text-align: center;
			font-size: 18px;
			span {
				display: block;
			}
			img {
				width: 64px;
			}
		}
	}
}
